body {
    margin: 0;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
    line-height: 1;
}

.background {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0;
    height: 100vh;
    display: flex;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    height: 840px;
    width: 1200px;
    box-sizing: border-box;

    position: relative;
    margin: auto;
    padding: 100px 80px;
    top: -20px;
    border-radius: 30px;
}

/* ------------------- LOGO ------------------- */

.container > .logo {
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* ------------------- TITOLO ------------------- */

.container > h1 {
    color: #00dd00;
    text-align: center;
    font-weight: bold;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;  
    left: 0;
    right: 0;
}

/* ------------------- BOTTONI ------------------- */

.container > .buttons {
    background-color: #00dd00;
    height: 40px;
    padding: 3px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .buttons > * {
    margin-left: 5px;
    z-index: 1;

}

.container > .buttons > *:hover {
    cursor: pointer;
}

/* ------------------- CONTENUTO ------------------- */

div, h2 {
    margin-bottom: 5px;
}

.content {
    color: white;
    list-style-type: square;
    padding-top: 1px;
}

.bar {
    height: 30px;
    border-radius: 5px;
    margin-bottom: 35px;
}

.post-1 > .bar {
    background-color: #f5b453;
    width: 20vw
}

.post-2 > .bar {
    background-color: #1ec31e;
    width: 35vw;
}

.post-3 > .bar {
    background-color: #be4141;
    width: 8vw;
}

/* ------------------- RESPONSIVE ------------------- */

@media screen and (max-width: 1400px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}